[Unit]
Description=Glove Nitro service
After=network.target

[Service]
ExecStart=/usr/local/glove/service --proxy-secret-phrase {{ glove_proxy_secret_phrase }} --address {{ glove_address }} --node-endpoint {{ glove_node_endpoint }} {% if glove_db == "dynamodb" %}
dynamodb --table-name {{ glove_db_table }}
{% else %}
in-memory
{% endif %}
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
